@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
}

:root {
    --cor0: #C5EBD6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FAB66;
    --cor4: #063D1E;

    --fonte-padrao: Arial, Verdana, Welvetica;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}
* {
    margin: 0px auto;
    padding: 0px auto;
    line-height: 1.5em;
}
body {
    background-color: var(--cor0);
}

header{
    background-image: linear-gradient(to bottom,#83E1AD, #2FAB66, #063D1E) ;
    color: white;
    min-height: 150px;
    text-align: center;
    padding-top: 20px;
}
header > h1 {
    font-family: var(--fonte-destaque);
    font-size: 3em;
    padding-bottom: 5px;
    padding-top: 5px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.452);
}
header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    padding-top: 5px;
    max-width: 500px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.452);
}
nav {
    background-color: #063D1E;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}
nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    transition-duration: .5s;
}
nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor4);
}
article {
    padding-bottom: 20px;
}
article > h1 {
    padding-top: 10px;
    font-family: var(--fonte-android);
    color: #197241;
}
article > h2 {
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor0), white);
    color: #197241;
}
main {
    background-color: white;
    min-width: 350px;
    max-width: 850px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    border-radius: 0px 0px 10px 10px;
}
main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 2em;
    line-height: 1.5em;
}
main strong {
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 5px;
}
div {
    position: relative;
    background-color: var(--cor4);
    margin: 15px -20px;
    padding-bottom: 59%;
}
div > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
article > aside {
    background-color: #b1ebcb;
    border-radius: 10px;
    padding: 10px;
}
aside > h3 {
    background-color: #449c6c;
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    padding: -10px -10px 0px -10px;
    margin: -10px -10px 0px -10px;
}
ul {
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}
footer {
    margin-top: 15px;
    text-align: center;
    background-color: #197241;
    font-size: 0.8em;
}
main a {
    color: var(--cor4);
    text-decoration: none;
    background-color: var(--cor1);
    padding: 2px 5px;
}
a:hover {
    text-decoration: underline;
}
article > img {
    width: 100%;
}
article > img.pequena {
    display: block;
    max-width: 350px;
    margin: auto;
}